[run]
parallel = True
concurrency = multiprocessing
branch = True
include =
    ka_be_inventory/api/*
    ka_be_inventory/apps/*
    ka_be_inventory/clients/*
    ka_be_inventory/drf/*
    ka_be_inventory/event_handlers/*
    ka_be_inventory/libs/*
    ka_be_inventory/services/*
    ka_be_inventory/tasks/*
    ka_be_inventory/utils/*
omit =
    */__init__.py
    */fixtures/*
    */migrations/*
    */models.py
    */config.py
